app/public/n8n/02-sla-watchdog.json
{
  "name": "Helpdesk - SLA Watchdog (tickets em fila)",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "minutes", "minutesInterval": 5}]}
      },
      "id": "n-cron",
      "name": "A cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://projeto-n8n-evolution-api.8w2toq.easypanel.host/instance/connectionState/helpdesk-main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "y7Se2JIvspkCrmA7t38tQq8BJNsI0jWoqS3l6Q2r4WP"}
          ]
        },
        "options": {}
      },
      "id": "n-state",
      "name": "Confere conexão Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "loose"},
          "conditions": [
            {
              "leftValue": "={{$json.instance.state}}",
              "rightValue": "open",
              "operator": {"type": "string", "operation": "notEquals"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n-if",
      "name": "Conexão caiu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://projeto-n8n-evolution-api.8w2toq.easypanel.host/instance/connect/helpdesk-main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "y7Se2JIvspkCrmA7t38tQq8BJNsI0jWoqS3l6Q2r4WP"}
          ]
        },
        "options": {}
      },
      "id": "n-reconnect",
      "name": "Tenta reconectar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "jsCode": "console.log('[SLA] Evolution OK em', new Date().toISOString());\nreturn [{json: {ok: true, ts: new Date().toISOString()}}];"
      },
      "id": "n-ok",
      "name": "Loga OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 380]
    }
  ],
  "connections": {
    "A cada 5 min": {"main": [[{"node": "Confere conexão Evolution", "type": "main", "index": 0}]]},
    "Confere conexão Evolution": {"main": [[{"node": "Conexão caiu?", "type": "main", "index": 0}]]},
    "Conexão caiu?": {"main": [[{"node": "Tenta reconectar", "type": "main", "index": 0}], [{"node": "Loga OK", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "pinData": {},
  "versionId": "1",
  "triggerCount": 1
}
